<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>Briix | Building wealth briick by briick</title>
    <link rel="icon" type="image/x-icon" href="src/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="dist/output.css?v3" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
    <div
      class="w-full fixed z-50 top-0 py-4 md:px-md-screen px-sm-screen flex justify-between items-center gap-[50px]"
      id="top-bar"
    >
      <div class="flex items-center gap-10">
        <a href="index.html" target="_blank">
          <img src="/src/img/brixx.png" alt="" class="h-8" />
        </a>

        <nav class="hidden md:block">
          <ul class="flex gap-10">
            <li class="hover:text-secondary">
              <a href="index.html">Home</a>
            </li>
            <li class="aboutus hover:text-secondary">
              <a href="#aboutus">About Us</a>
            </li>
            <li class="openposition hover:text-secondary">
                <a href="#openposition">Careers</a>
              </li>
          </ul>
        </nav>
      </div>

      <nav class="md:hidden block">
        <img
          src="src/svg/MenuAlt3Outline.svg"
          alt=""
          onclick="smallMenu('open')"
          id="openBtn"
        />
        <img
          src="src/svg/X.svg"
          alt=""
          class="hidden"
          onclick="smallMenu('close')"
          id="closeBtn"
        />
      </nav>
    </div>

    <div id="smallMenu" class="fixed top-14 z-50 bg-white w-full hidden">
      <nav>
        <ul class="">
          <li class="p-4 text-end text-secondary hover:text-secondary">
            <a href="index.html">Home</a>
          </li>
          <li class="p-4 text-end hover:text-secondary">
            <a href="#aboutus">About Us</a>
          </li>
          <li class="p-4 text-end hover:text-secondary">
            <a href="#openposition">Careers</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="overflow-hidden">
      <div class="relative">
        <div
          id="whatsapp"
          class="fixed bottom-10 right-8 md:bottom-16 md:right-14 z-50 hidden animate-bounce"
        >
          <a
            href="https://api.whatsapp.com/send?phone=6281299927449"
            target="_blank"
          >
            <div
              class="bg-[#128c7e] flex drop-shadow-md rounded-full h-12 aspect-square p-2 items-center space-x-2"
            >
              <img
                src="src/img/WhatsApp-Logo.wine.png"
                alt=""
                class="h-full aspect-square"
              />
            </div>
          </a>
        </div>

        <section
          id="header"
          class="w-full bg-blue-bg relative md:pt-[155px] pt-[100px]  p-sm-screen md:px-md-screen"
        >
          <div class="absolute left-[20%] -top-20 hidden md:block z-10">
            <img src="src/svg/Group 427320963.svg" alt="" class="z-10" />
          </div>
          <div class="bg-header absolute top-4 w-[95%] h-[90%]"></div>
          <div class="flex flex-col justify-center items-center relative">
            <h1 class="text-center z-20">
              Come for the mission, stay for the team
            </h1>
            <h5 class="text-center z-20 max-w-2xl">
              We are looking for dynamic and self-motivated individuals who are
              comitted to be part of our fast growing team.
            </h5>
            <a
              href="#openposition"
              class="bg-secondary rounded-full md:w-[237px] py-3 px-6 text-white text-center z-20 my-7"
              >See Open Positions</a
            >
            <div class="rounded-md overflow-hidden z-20 relative">
              <img src="src/img/team-photo 1.png" class="w-full z-20 max-w-screen-xl" alt="" />
            </div>
          </div>
          
        </section>

        <section
          id="company"
          class="p-sm-screen md:px-md-screen md:mt-20 mt-10 relative"
        >
        <div class="absolute -top-[50%] right-0 -z-50 hidden md:block">
          <img src="src/svg/polygon.svg" alt="" srcset="" />
        </div>

        <div class="absolute -top-[400px] left-0 -z-50 hidden md:block">
          <img src="src/svg/Titik-titik.svg" alt="" />
        </div>
          <div class="flex flex-col justify-center items-center relative">
            <!-- <h1 class="text-center mt-20">About Us</h1> -->
            <h5 class="text-center z-20 text-title mt-7">
              The Briix Group opened its first hotel in Kuta, Lombok in 2014
              under the company’s founding name – PT Lombok Bau Nyale.
            </h5>
            <p class="text-center mt-3">
              Since then, we have evolved into a fully integrated neo-investment-bank and wealth-tech platform with activities in Corporate Finance, Venture Capital, Asset Management, and Property Management and Finance.  <br><br>
              As the scale and ambition of our work grows, we never forget the importance of working to the highest standards across all aspects of our business model. We are driven by an unwavering commitment towards value and wealth creation, and a profound belief that everyday investment decisions can enable both greater social impact and personal financial security. 
            </p>
          </div>
        </section>

        <section
          id="aboutus"
          class="p-sm-screen md:px-md-screen md:pt-24 pt-10 overflow-hidden"
        >
          <div class="flex flex-col justify-center items-center relative">
            <h1 class="text-center">About Us</h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-7">
              <div class="w-full bg-white hover:scale-105 hover:transition-transform md:md:drop-shadow-xl drop-shadow-md rounded-md p-7">
                <img src="src/svg/carrer/ILLUST WORK CULTURE-13.svg" alt="" />
                <h3 class="text-2xl font-semibold mt-7">
                  What We Do
                </h3>
                <p class="text-sm mt-4">
                  We are a company grounded by a strong foundation of financial and investment expertise. Upon this foundation we have invested significantly in to the technology, human resource, regulatory and financial infrastructure required to analyse, structure and market investment opportunities that both generate and maintain longterm value creation 
                </p>
              </div>
              <div class="w-full bg-white hover:scale-105 hover:transition-transform md:drop-shadow-xl drop-shadow-md rounded-md p-7">
                <img src="src/svg/carrer/ILLUST WORK CULTURE-14.svg" alt="" />
                <h3 class="text-2xl font-semibold mt-7">How We Do It</h3>
                <p class="text-sm mt-4">
                  We are a licensed neo-investment-bank and deal exclusively in regulated investment products. Our users gain access to our products via our proprietary and regulated investment platform. 
                </p>
              </div>
              <div class="w-full bg-white hover:scale-105 hover:transition-transform md:drop-shadow-xl drop-shadow-md rounded-md p-7">
                <img src="src/svg/carrer/ILLUST WORK CULTURE-15.svg" alt="" />
                <h3 class="text-2xl font-semibold mt-7">
                  Diverse & Inclusive Work Culture
                </h3>
                <p class="text-sm mt-4">
                  We have a firm belief that a positive and inclusive team incubates high-performance and strong company morale. Our employees come from a variety of nationalities, skill-sets and cultures and draw strength and inspiration from diversity. We are constantly seeking to expand upon this valuable foundation
                </p>
              </div>
            </div>
          </div>
        </section>

        <section
          id="Benefits"
          class=" mt-24 "
        >
        <div class="relative hidden md:block">
          <div class="absolute -top-36">
            <img src="src/svg/41.svg" alt="" srcset="" />
          </div>
          <div class="absolute -top-24 right-0">
            <img src="src/svg/Titik-titik.svg" alt="" />
          </div>
        </div>
          <div class="flex flex-col justify-center items-center relative p-sm-screen md:px-md-screen">
            <h1 class="text-center">Benefits</h1>
            <div class="grid grid-cols-1 md:grid-cols-5 gap-5 mt-7 w-full">
              <div
                class="w-full bg-white md:drop-shadow-xl drop-shadow-md p-4 rounded-md flex flex-col justify-center items-center hover:scale-105 hover:transition-transform"
              >
                <img
                  class="w-8/12"
                  src="src/svg/carrer/ICON BRIIX-21.svg"
                  alt=""
                />

                <p class="text-base text-center">Health & Medical Insurance</p>
              </div>
              <div
                class="w-full bg-white md:drop-shadow-xl drop-shadow-md p-4 rounded-md flex flex-col justify-center items-center hover:scale-105 hover:transition-transform"
              >
                <img
                  class="w-8/12"
                  src="src/svg/carrer/ICON BRIIX-22.svg"
                  alt=""
                />

                <p class="text-base text-center">Competitive Salary</p>
              </div>
              <div
                class="w-full bg-white md:drop-shadow-xl drop-shadow-md p-4 rounded-md flex flex-col justify-center items-center hover:scale-105 hover:transition-transform"
              >
                <img
                  class="w-8/12"
                  src="src/svg/carrer/ICON BRIIX-23.svg"
                  alt=""
                />

                <p class="text-base text-center">Employee Stock Option Plan</p>
              </div>
              <div
                class="w-full bg-white md:drop-shadow-xl drop-shadow-md p-4 rounded-md flex flex-col justify-center items-center hover:scale-105 hover:transition-transform"
              >
                <img
                  class="w-8/12"
                  src="src/svg/carrer/ICON BRIIX-24.svg"
                  alt=""
                />

                <p class="text-base text-center">Hybrid Working</p>
              </div>
              <div
                class="w-full bg-white md:drop-shadow-xl drop-shadow-md p-4 rounded-md flex flex-col justify-center items-center hover:scale-105 hover:transition-transform"
              >
                <img
                  class="w-8/12"
                  src="src/svg/carrer/ICON BRIIX-25.svg"
                  alt=""
                />

                <p class="text-base text-center">
                  Individual Development Program
                </p>
              </div>
            </div>
          </div>
        </section>

        <section
          id="openposition"
          class=" pt-24 mb-20 relative"
        >
        <div class="absolute -bottom-[50%] right-0 -z-50 hidden md:block">
          <img src="src/svg/polygon.svg" alt="" srcset="" />
        </div>

        <div class="absolute -bottom-[200px] left-0 -z-50 hidden md:block">
          <img src="src/svg/Titik-titik.svg" alt="" />
        </div>
          <div class="flex flex-col justify-center items-center relative p-sm-screen md:px-md-screen">
            <h1 class="text-center">Open Positions</h1>
            <!-- <p class="text-center mt-3">
              We profoundly believe that a diverse and inclusive team incubates strong company moral and high-performance. Our team members come from a variety of nationalities, skill-sets and cultures, and we are constantly seeking to expand our team with individuals who have the ability to expand our company’s broader perspectives.
            </p> -->
            <div class="w-full md:px-28">
              <div
                id="qa-drop"
                class="w-full p-5 rounded-2xl bg-white border border-title my-6"
              >
                <div
                  class="flex justify-between cursor-pointer items-center hover:text-secondary"
                  id="qa-button"
                >
                  <h4 class="md:text-xl text-base font-semibold">
                    Software Quality Assurance Automation Engineer
                  </h4>
                  <div>
                    <svg
                      class=""
                      width="14"
                      height="9"
                      viewBox="0 0 14 9"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      id="qadropArrow"
                    >
                      <path
                        d="M1 1.5L7 7.5L13 1.5"
                        stroke="#262626"
                        stroke-width="2"
                        stroke-linecap="round"
                      />
                     </svg>
                  </div>
                </div>
                <div class="qa-content" id="qa-content">
                  <div class="w-full h-px bg-[#E3E3E3] mt-4"></div>
                  <p class="mt-4 text-base">
                    This position is responsible for ensuring software quality
                    across the organization and achieving high automation test
                    coverage.
                  </p>
                  <h5 class="text-xl mt-4">Responsibilities</h5>
                  <ul
                    class="list-disc list-outside p-1 px-6 md:text-base text-sm"
                  >
                    <li>
                      To plan, design and execute test scenarios to ensure
                      high-quality applications.
                    </li>
                    <li>
                      To develop and maintain scripts for the purpose of QA
                      automation.
                    </li>
                    <li>
                      To identify software application weaknesses and target
                      areas.
                    </li>
                    <li>
                      To participate in requirements review and understand new
                      feature development.
                    </li>
                    <li>
                      To communicate technical concepts/issues clearly to
                      internal stakeholders.
                    </li>
                    <li>
                      To develop, document, and maintain test cases and
                      validation reports.
                    </li>
                  </ul>
                  <h5 class="text-xl mt-4">Qualifications</h5>
                  <ul
                    class="list-disc list-outside p-1 px-6 md:text-base text-sm"
                  >
                    <li>
                      3+ years total experience in software QA, and at least 1
                      year in QA automation.
                    </li>
                    <li>
                      Comfortable with working in a dynamic, fast-paced,
                      changing environment.
                    </li>
                    <li>
                      Strong customer focus, excellent problem solving, and
                      analytical skills.
                    </li>
                    <li>
                      Excellent interpersonal, communication, and organizational
                      skills.
                    </li>
                    <li>Good command of written English.</li>
                  </ul>

                  <p class="text-base mt-4">Send your CV to <a class=" text-secondary" href="mailto:hr@briix.com">hr@briix.com</a></p>
                  <p class=" text-base mt-4">Email Subject : Tech - (Position)</p>
                  <!-- <a
                    href="#"
                    class="bg-secondary rounded-full px-4 py-2 text-white"
                    >Go to Briix Finance</a
                  > -->
                </div>
              </div>
              <div
                id="be-drop"
                class="w-full p-5 rounded-2xl bg-white border border-title my-6"
              >
                <div
                  class="flex justify-between cursor-pointer items-center  hover:text-secondary"
                  id="be-button"
                >
                  <h4 class="md:text-xl text-base font-semibold">
                    Backend Engineer (Java)
                  </h4>
                  <div>
                    <svg
                      class=""
                      width="14"
                      height="9"
                      viewBox="0 0 14 9"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      id="bedropArrow"
                    >
                      <path
                        d="M1 1.5L7 7.5L13 1.5"
                        stroke="#262626"
                        stroke-width="2"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="be-content" id="be-content">
                  <div class="w-full h-px bg-[#E3E3E3] mt-4"></div>
                  <p class="mt-4 text-base">
                    We are looking for a Backend Developer who is motivated to
                    develop the backend systems of our mobile and web
                    applications using pragmatic microservices and clean code
                    architecture. These services will need to be designed with
                    scalability in mind and used by hundreds of thousands (and
                    eventually millions) of users.
                  </p>
                  <h5 class="text-xl mt-4">Responsibilities</h5>
                  <ul
                    class="list-disc list-outside p-1 px-6 md:text-base text-sm"
                  >
                    <li>
                      Develop API-based (REST and GraphQL) services based on
                      requirements.
                    </li>
                    <li>Build reusable code and libraries for future use.</li>
                    <li>Ensure the technical feasibility of UI/UX designs.</li>
                    <li>
                      Optimize application for maximum speed and scalability.
                    </li>
                  </ul>
                  <h5 class="text-xl mt-4">Qualifications</h5>
                  <ul
                    class="list-disc list-outside p-1 px-6 md:text-base text-sm"
                  >
                    <li>
                      3+ years total experience building web apps using Java 8+
                      with Spring Boot or Quarkus.
                    </li>
                    <li>
                      Working experience in writing optimized Hibernate-based
                      applications (MySQL or PostgreSQL).
                    </li>
                    <li>
                      Familiarity with REST, GraphQL, JWT, Redis and
                      unit-testing.
                    </li>
                    <li>
                      Strong knowledge of design patterns and software
                      engineering best practices.
                    </li>
                    <li>Good understanding of Git code versioning.</li>
                  </ul>

                  <p class="text-base mt-4">Send your CV to <a class=" text-secondary" href="mailto:hr@briix.com">hr@briix.com</a></p>
                  <p class=" text-base mt-4">Email Subject : Tech - (Position)</p>

                  <!-- <a
                    href="#"
                    class="bg-secondary rounded-full px-4 py-2 text-white"
                    >Go to Briix Finance</a
                  > -->
                </div>
              </div>
              <div
                id="mobile-drop"
                class="w-full p-5 rounded-2xl bg-white border border-title my-6"
              >
                <div
                  class="flex justify-between cursor-pointer items-center  hover:text-secondary"
                  id="mobile-button"
                >
                  <h4 class="md:text-xl text-base font-semibold">
                    Mobile Engineer (Flutter)
                  </h4>
                  <div>
                    <svg
                      class=""
                      width="14"
                      height="9"
                      viewBox="0 0 14 9"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      id="mobiledropArrow"
                    >
                      <path
                        d="M1 1.5L7 7.5L13 1.5"
                        stroke="#262626"
                        stroke-width="2"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="mobile-content" id="mobile-content">
                  <div class="w-full h-px bg-[#E3E3E3] mt-4"></div>
                  <p class="mt-4 text-base">
                    We are looking for a Mobile Developer who is motivated to combine the art of design with the art of programming. Responsibilities will include translation of the UI/UX design wireframes to actual code that will produce visual elements of the application. You will work with the UI/UX designer and bridge the gap between graphical design and technical implementation, taking an active role on both sides and defining how the application looks as well as how it works.
                  </p>
                  <h5 class="text-xl mt-4">Responsibilities</h5>
                  <ul
                    class="list-disc list-outside p-1 px-6 md:text-base text-sm"
                  >
                    <li>
                        Develop mobile apps based on UI/UX design wireframes.</li>
                        <li>Build reusable code and libraries for future use.</li>
                        <li>Ensure the technical feasibility of UI/UX designs.</li>
                        <li>Optimize application for maximum performance and minimum app siz
                    </li>
                  </ul>
                  <h5 class="text-xl mt-4">Qualifications</h5>
                  <ul
                    class="list-disc list-outside p-1 px-6 md:text-base text-sm"
                  >
                    <li>
                        3+ years total experience building mobile apps using Flutter.</li>
                        <li>Proficient understanding of native Android and/or iOS.</li>
                        <li>Good understanding of asynchronous request handling, mobile device limitations, and different device configurations.</li>
                        Good understanding of Git code versioning.</li>
                  </ul>

                  <p class="text-base mt-4">Send your CV to <a class=" text-secondary" href="mailto:hr@briix.com">hr@briix.com</a></p>
                  <p class=" text-base mt-4">Email Subject : Tech - (Position)</p>

                  <!-- <a
                    href="#"
                    class="bg-secondary rounded-full px-4 py-2 text-white"
                    >Go to Briix Finance</a
                  > -->
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
        id="footer"
        class="p-sm-screen md:pt-14 md:px-md-screen bg-[#0C3F54] relative overflow-hidden z-10"
      >
        <div class="js-show-on-scroll">
          <div class="mt-[49px]">
            <img class="h-10" src="src/img/briixwhite.png" alt="" srcset="" />
            <div
              class="flex md:flex-row flex-col md:items-start md:gap-14 mt-16"
            >
              <div class="md:basis-7/12">
                <div class="grid md:grid-cols-3 grid-cols-2 gap-y-8 md:gap-1">
                  <div>
                    <p class="md:text-xl text-lg font-semibold mb-2 text-white">
                      Company
                    </p>
                    <p>
                      <a
                        href="#aboutus"
                        
                        class="text-base text-white mb-[10px]"
                        >About</a
                      >
                    </p>
                    <p>
                      <a
                        href="#openposition"
                        
                        class="text-base text-white mb-[10px]"
                        >Careers</a
                      >
                    </p>
                  </div>
                  <div class="justify-self-end md:justify-self-start">
                    <p
                      class="md:text-xl text-lg font-semibold mb-2 text-white text-start"
                    >
                      Our Products
                    </p>

                    <a href="index.html#product">
                      <p
                        class="text-base text-white mb-[10px] text-start"
                        id="propertyBtnFoot"
                      >
                        Property
                      </p>
                    </a>
                    <a href="index.html#product">
                      <p
                        class="text-base text-white mb-[10px] text-start"
                        id="vcBtnFoot"
                      >
                        Venture Capital
                      </p>
                    </a>
                    <a href="index.html#product">
                      <p
                        class="text-base text-white mb-[10px] text-start"
                        id="fundsBtnFoot"
                      >
                        Mutual Funds
                      </p>
                    </a>
                  </div>

                  <div
                    class="col-start-1 col-end-3 md:col-start-3 md:col-end-4 mb-8 md:mb-0"
                  >
                    <p
                      class="md:text-xl text-lg font-semibold mb-2 text-white text-center md:text-start"
                    >
                      Get in Touch
                    </p>
                    <div class="flex space-x-3 justify-center md:justify-start">
                      <a
                        href="https://www.facebook.com/briixproperties/"
                        target="_blank"
                      >
                        <img src="src/svg/fb.svg" alt="" />
                      </a>

                      <a
                        href="https://www.linkedin.com/company/briixproperties/mycompany/"
                        target="_blank"
                      >
                        <img src="src/svg/Linkedin.svg" alt="" />
                      </a>
                      <a
                        href="https://www.instagram.com/briixproperties/"
                        target="_blank"
                      >
                        <img src="src/svg/Instagram.svg" alt="" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="md:basis-5/12">
                <p class="text-white text-base text-center md:text-start">
                  PT Briix Financial Technology is registered and supervised by
                </p>
                <div class="flex gap-3 md:justify-start justify-center">
                  <img src="src/svg/kominfo.svg" alt="" />
                  <img src="src/img/image 1.svg" alt="" />
                  <img src="src/img/logo-OJK 2.svg" alt="" />
                </div>
              </div>
            </div>

            <div class="my-8 bg-[#EAF6FB] opacity-20 h-px w-full"></div>
            <div class="flex flex-row md:flex-col justify-between">
              <a
                href="privacy.html"
                target="_blank"
                class="text-white text-[14px] underline"
                >Privacy Policy</a
              >
              <a
                href="tnc.html"
                target="_blank"
                class="text-white text-[14px] underline"
                >Terms & Conditions</a
              >
            </div>
          </div>
        </div>
      </section>
        <div
          class="py-4 md:px-md-screen px-sm-screen bg-[#135F7F] flex justify-center"
        >
          <p class="text-white text-sm text-center">
            © PT Briix Financial Technology. All Rights Reserved, 2022
          </p>
        </div>
      </div>
    </div>

    <script src="js/script.js"></script>
    <script src="js/briixcareer.js"></script>
  </body>
</html>
